<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.ParameterControllerInfoMapper">
	
	<!-- 返回的对象的结果集（主要是要维护ParameterControllerInfoBean对象） -->
	<resultMap id="ParameterControllerInfoMap" type="com.ssm.beans.ParameterControllerInfoBean" >
		<id column="id" jdbcType="VARCHAR" property="id" />
	    <result column="controller_id" jdbcType="VARCHAR" property="controllerId" />
	    <result column="device_serial_number" jdbcType="VARCHAR" property="deviceSerialNumber" />
	    <result column="survey_no" jdbcType="INTEGER" property="surveyNo" />
	    <result column="probe_id" jdbcType="VARCHAR" property="probeId" />
	    <result column="collector_name" jdbcType="VARCHAR" property="collectorName" />
	    <result column="control_condition" jdbcType="BIT" property="controlCondition" />
	    <result column="control_value" jdbcType="INTEGER" property="controlValue" />
	    <result column="controller_status" jdbcType="BIT" property="controllerStatus" />
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	
	<!-- 根据控制器ID查询所有对应的参数 -->  <!-- 测试运行通过 -->
	<select id="selectByOutKey" resultMap="ParameterControllerInfoMap">
		SELECT 
			id, controller_id ,device_serial_number ,survey_no ,probe_id , collector_name,
			control_condition ,control_value ,controller_status,DATE_FORMAT(create_time,'%Y-%c-%d %H:%i:%s') ,DATE_FORMAT(update_time,'%Y-%c-%d %H:%i:%s')
		FROM 
			iot_parameter_control_info p
		WHERE
		    p.controller_id=#{id}
	</select>
	
	
	<!-- 增 -->
	<insert id="addParameterControllerInfo" parameterType="com.ssm.beans.ParameterControllerInfoBean">
		 insert into 
		 	 iot_parameter_control_info (id,controller_id, device_serial_number,survey_no,
		 	 probe_id, collector_name,control_condition, control_value, controller_status,create_time, update_time)
         values (
         	#{id,jdbcType=VARCHAR},#{controllerId,jdbcType=VARCHAR}, 
         	#{deviceSerialNumber,jdbcType=VARCHAR}, #{surveyNo,jdbcType=INTEGER}, 
         	#{probeId,jdbcType=VARCHAR}, #{collectorName,jdbcType=VARCHAR}, 
      		#{controlCondition,jdbcType=BIT}, #{controlValue,jdbcType=INTEGER}, 
      		#{controllerStatus,jdbcType=BIT},
      		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      		)
	</insert>
	
	<!-- 改 -->
	<update id="updateParameterControllerInfo" parameterType="com.ssm.beans.ParameterControllerInfoBean">
		update iot_parameter_control_info
			set controller_id=#{controllerId},device_serial_number=#{deviceSerialNumber},survey_no=#{surveyNo},
			probe_id=#{probeId},collector_name=#{collectorName},control_condition=#{controlCondition},
			control_value=#{controlValue},controller_status=#{controllerStatus},update_time=#{updateTime}
		where 
			id=#{id}
	</update>
	
	<!-- 删 -->
	<delete id="deleteParameterControllerInfoById" parameterType="java.lang.String">
		delete from iot_parameter_control_info where id=#{id}
	</delete>
	
	<select id="getParameterControllerInfoById" parameterType="java.lang.String" resultMap="ParameterControllerInfoMap">
		select
			id, controller_id ,device_serial_number ,survey_no ,probe_id , collector_name,
			control_condition ,control_value ,controller_status,DATE_FORMAT(create_time,'%Y-%c-%d %H:%i:%s') ,DATE_FORMAT(update_time,'%Y-%c-%d %H:%i:%s')
		where 
			id=#{id}
	</select>
	
	
</mapper>